{% extends 'base.html' %}


{% block content %}


<h2>
Admin Dashboard
</h2>


<table class="table table-bordered">


<tr>

<th>ID</th>
<th>Title</th>
<th>User</th>
<th>Severity</th>
<th>Status</th>
<th>Action</th>

</tr>



{% for r in reports %}


<tr>

<td>{{r[0]}}</td>

<td>{{r[1]}}</td>

<td>{{r[5]}}</td>

<td>{{r[3]}}</td>


<td>


<form method="POST"
action="/update-status/{{r[0]}}">


<select name="status"
class="form-control">


<option>
Open
</option>

<option>
Investigating
</option>

<option>
Resolved
</option>


</select>


<button class="btn btn-sm btn-success mt-2">

Update

</button>


</form>


</td>


<td>

<a href="/view-report/{{r[0]}}"
class="btn btn-primary">

View

</a>

</td>


</tr>



{% endfor %}



</table>



{% endblock %}