{% extends 'base.html' %}


{% block content %}


<div class="row justify-content-center">


<div class="col-md-5">


<div class="card shadow">


<div class="card-body">


<h3>
Admin Login
</h3>


<form method="POST">


<input 
class="form-control mb-3"
name="email"
placeholder="Admin Email">



<input 
type="password"
class="form-control mb-3"
name="password"
placeholder="Password">



<button class="btn btn-dark w-100">

Login

</button>


</form>


</div>

</div>


</div>

</div>


{% endblock %}